# Website Hosting
HOST=localhost
PORT=8000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name_here
DB_USER=db_SA_user_here
DB_PASSWORD="db_SA_user_password"

# Local Development Settings
# Leave this blank if you run on "localhost" - set it to your subdomain if using a proxy
ROOT_PATH=/proxy/8000
#ROOT_PATH=

# Google OAuth Configuration
# See the SETUP.md for info on creating a google auth project for local testing
GOOGLE_CLIENT_ID=xxxxx
GOOGLE_CLIENT_SECRET=xxxxx
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback